.CompactCard{
    display: flex;
    flex: 1;
    height: 7rem!important;
    border-radius: 0.7rem;
    color: white;
    position: relative;
    cursor: pointer;
    padding: 1rem;
}

/* 대시보드 카드에 마우스가 올라갔을때 */
.CompactCard:hover{
    box-shadow: none !important;
}

/* radiabar */
.radialBar{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}

.CircularProgressbar{
    width: 4rem !important;
    overflow: visible;
}

/* 원형 그래프 색상 */
.CircularProgressbar-path{
    stroke: white!important;
    stroke-width: 12px !important;
    filter: drop-shadow(2px 4px 6px white);
}

/* 원형 그래프 부족한 부분 표시❌ */
.CircularProgressbar-trail{
    display: none;
}

.CircularProgressbar-text{
    fill: white !important;
}

.radialBar>span{
    font-size: 17px;
    font-weight: bold;
}

/* detail */
.detail{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.detail>span:nth-child(2){
    font-size: 22px;
    font-weight: bold;
}

.detail>span:nth-child(3){
    font-size: 12px;
}